.sidenav {
    background-color: #3F51B5;
    width: 200px;
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: #FFF;
}

a {
    color: #FFF;
    text-decoration: none;
    font-weight: 450;
}

mat-list-item:hover {
    background-color: #07114c;
    border-radius: 3px;
}
